In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
from sklearn import tree
from sklearn import preprocessing
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report

In [2]:
PATH = 'C:/Users/Harsh/Desktop/hw4/'

In [7]:
train_data = pd.read_csv(PATH + 'train.csv')

test_data = pd.read_csv(PATH + 'test.csv')

In [17]:
for col in train.columns:
    train_data[col] = pd.Categorical(train_data[col])
    train_data[col] = train_data[col].cat.codes

train.head()

   ID  Is_home_away  In_out  Media  Label
0   0             1       1      4      1
1   1             0       1      0      1
2   2             1       0      4      1
3   3             1       1      4      1
4   4             0       0      0      0

In [18]:
for col in test.columns:
    test[col] = pd.Categorical(test[col])
    test[col] = test[col].cat.codes

test.head()

   ID  Is_home_away  In_out  Media  Label
0   0             1       1      3      1
1   1             1       0      3      0
2   2             0       1      1      1
3   3             0       1      2      1
4   4             1       1      3      1

In [19]:
x_train = train_data[train_data.columns[:-1]].values
y_train = train_data['Label'].values

x_test = test_data[train.columns[:-1]].values
y_test = test_data['Label'].values

In [20]:
y_test

array(['Win', 'Lose', 'Win', 'Win', 'Win', 'Win', 'Win', 'Win', 'Win',
       'Lose', 'Win', 'Lose'], dtype=object)

In [21]:
x_train = train[train_data.columns[:-1]].values
y_train = train['Label'].values

x_test = test[train.columns[:-1]].values
y_test = test['Label'].values

In [22]:
y_test

array([1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0], dtype=int8)

In [25]:
model = GaussianNB()
model.fit(x_train, y_train)
y_predicted = model.predict(x_test)

In [26]:
y_predicted

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0])

In [27]:
print("Accuracy: ", metrics.accuracy_score(y_test, y_predict))
print(classification_report(y_test, y_predict))

Accuracy:  0.75
              precision    recall  f1-score   support

           0       0.50      1.00      0.67         3
           1       1.00      0.67      0.80         9

    accuracy                           0.75        12
   macro avg       0.75      0.83      0.73        12
weighted avg       0.88      0.75      0.77        12